body {
    font-family: "Segoe UI";
}

h1, h2 {
    text-align: center;
}

h2 {
    color: red;
}

form {
    width: 50%;
    margin-left: 25%;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #4CAF50;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: #4CAF50;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }